{%extends 'base.html'%}
{%block body%}
<!-- question section -->

<div class="card text-bg-primary mb-3" style="max-width: 100%;">
    <div class="card-header">
        {%if request.user.profile.profile_pic%}
        <img src="{{request.user.profile.profile_pic.url}}" class=" rounded-circle" alt="..." height="80px">
        {%endif%}
        
        {{request.user}}
    
    </div>
    <div class="card-body">
      <h5 class="card-title">Post a new question</h5>
      <p class="card-text">

        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>
            <button type="submit">Post</button>
        </form>
      </p>
    </div>
  </div>



<!-- end question section -->
{%if request.user.profile%}
       <a href="{%url 'profile-detail'%}">View profile</a>
       <a href="{%url 'profile-edit' request.user.profile.id%}">Update profile</a>

    {%else%}
       <a href="{%url 'profile-add'%}">Add profile</a>
    {%endif%}

    welcome {{request.user}}

<!-- question form section -->
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<!-- end question form section -->

<!-- question list section start -->
{%for q in questions%}
   <div>
    {{q.description}}

    {%if q.image%}
      <img src="{{q.image.url}}" alt="">
    {%endif%}
    asked by {{q.user}} on {{q.created_date}}
   </div>
   <div>
    Post your Answer
    <form action="{%url 'add-answer' q.id%}" method="post">
        {%csrf_token%}
        <input type="text" name="answer" placeholder="enter your answer">
        <button type="submit">Post</button>
    </form>
   </div>
   <!-- answer list section -->
      <h2><u>Answers</u></h2>
      {%for ans in q.question_answers%}
        <div>
            {{ans.answer}} posted by {{ans.user}} on {{ans.created_date}} <a href="{%url 'upvote' ans.id%}">upvote</a> {{ans.upvote_count}}
        </div>
    <!-- end answer list -->

      {%endfor%}

   <!-- end answer list -->
   <hr>
{%endfor%}
<!-- question list section end -->
{%endblock%}